/*!
* CURIOUS?
*/
.masthead {
    background: url("../assets/img/bg-masthead-smirkle.jpg") no-repeat left 60% bottom 60%;
}
.ascii {
    display: inline-block;
    white-space: pre;
    letter-spacing: 0;
    line-height: 1.4;
    font-family: 'Consolas','BitstreamVeraSansMono','CourierNew',Courier,monospace;
    font-size: 12px;
}