@charset "UTF-8";
/*!
* kenny.cx v1.0.5 (https://swww.kenny.cx)
* Copyright 2022 @stickerboy / Kenny Cameron
*/
/*!
* Bootstrap specific overrides
*/
:root {
    --bs-cyan-600: #0aa2c0;
    --bs-cyan-800: #055160;
    --bs-343: #343a40;
    --bs-ice-dark: #1c375e;
    --bs-heading-font-family: 'Ubuntu', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.1);
}
h4, .h4, h3, .h3, h2, .h2, h1, .h1,
.navbar-brand {
    font-family: var(--bs-heading-font-family);
}

.glyphs .glyph {
    fill: var(--bs-body-color);
    stroke: rgba(0, 0, 0, 0);
    stroke-width: 50px;
    transition: stroke  0.4s ease, fill 0.4s ease;
}
.glyphs .glyph:hover,
.glyphs .glyph:active,
.glyphs .glyph:focus {
    fill: var(--bs-cyan-600);
    stroke: var(--bs-body-color);
}

.btn:hover {
    box-shadow: 0 0 0 0.25rem rgb(211 212 213 / 50%);
}

.nav-link {
    color: var(--bs-cyan-800);
}
.nav-link.active {
    border-bottom: 0.25rem solid;
    padding-bottom: 0.25rem;
}
  
.navbar-toggler-icon {
    background-image: var(--bs-navbar-toggler-icon-bg);
}

.border-stckr {
    border-color: var(--bs-cyan-600) !important;
}


/*!
* Site feature styling
*/
.features-icons {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.features-icons .features-icons-item {
    max-width: 20rem;
}
.features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
}
.features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
}
.features-icons .features-icons-item .features-icons-icon i::before {
    transition: stroke 0.4s ease, color 0.4s ease;
}

.features-icons .features-icons-item .features-icons-icon:hover i::before,
.features-icons .features-icons-item .features-icons-icon:active i::before,
.features-icons .features-icons-item .features-icons-icon:focus i::before {
    color: var(--bs-cyan-600);
}
  
header.masthead {
    position: relative;
    background-color: var(--bs-343);
    background: url("../assets/img/bg-masthead-tir.jpg") no-repeat left 50% bottom 25%;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
header.masthead:before {
    content: "";
    position: absolute;
    background-color: var(--bs-ice-dark);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
  }
header.masthead h1, header.masthead .h1 {
    font-size: 2rem;
    text-shadow: 2px 2px 3px var(--bs-dark);
}
@media (min-width: 768px) {
    header.masthead {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
    header.masthead h1, header.masthead .h1 {
      font-size: 4rem;
    }
}
  
.showcase .showcase-text {
    padding: 3rem;
 }
.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
    background-position: center;
}
@media (min-width: 768px) {
    .showcase .showcase-text {
      padding: 7rem;
    }
}
  
.flickr {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
  
.flickr .card {
    -webkit-transition: box-shadow 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: box-shadow 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    border: none;
}
  
.flickr .card:hover,
.flickr .card:focus,
.flickr .card:active {
    box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
    -webkit-transition: box-shadow 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: box-shadow 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  
}
  
.call-to-action {
    position: relative;
    background-color: var(--bs-343);
    background: url("../assets/img/bg-masthead-faito.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.call-to-action:before {
    content: "";
    position: absolute;
    background-color: var(--bs-ice-dark);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
}
.call-to-action h2,
.call-to-action .h2 {
    text-shadow: 2px 2px 3px var(--bs-dark);
}
  
footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}