/*!
* CURIOUS?
*/
header.masthead {
    background: url("../assets/img/bg-masthead-wc19WayV3Y.jpg") no-repeat left 50% bottom 42%;
}
#curiousgrid button {
    min-width: 2.5rem;
    font-weight: 600;
}