---
layout: base.njk
title: Convrtr
pageHeading: Convrtr
cssFile: home
tags:
  - projects
section: tools
order: 1
featured: true
projectId: convrtr
projectUrl: https://www.convrtr.xyz/
imageAlt: Convrtr home page screenshot
description: Convrtr is a simple JavaScript based tool to quickly convert text between different formats and to help create or solve data driven puzzles and ciphers.
summary: A simple JavaScript tool to convert text between formats.
---

<section class="py-md-6 py-5">
    <div class="container">
        <div class="mb-5">
            <p class="lead fw-normal">{{ description }}</p>
            <div class="d-grid col-12 col-sm-5 col-md-4 col-lg-3 col-xl-2">
                <a href="{{ projectUrl }}" class="btn btn-halo" title="Visit project website: {{ projectUrl }}">
                    <i class="bi-globe2"></i> &nbsp;
                    Visit project website
                </a>
            </div>
        </div>
        <div class="grid g-4 g-md-5 mb-4">
            <div class="g-col-12 g-col-md-6 g-col-xl-4">
                <div class="d-flex h-100">
                    <div class="text-stckr me-4">
                        {% include "svg/code-square.njk" %}
                    </div>
                    <div class="d-flex flex-column">
                        <p class="h5 fw-bold lh-base">Text tools</p>
                        <p class="m-0">A collection of practical utilities for editing, converting, analyzing text and exploring text patterns for a variety of tasks and puzzles.</p>
                    </div>
                </div>
            </div>
            <div class="g-col-12 g-col-md-6 g-col-xl-4">
                <div class="d-flex h-100">
                    <div class="text-stckr me-4">
                        {% include "svg/puzzle.njk" %}
                    </div>
                    <div class="d-flex flex-column">
                        <p class="h5 fw-bold lh-base">Cipher tools</p>
                        <p class="m-0">A variety of classic and modern cipher utilities for encrypting, decrypting, and experimenting with secret codes and algorithms.</p>
                    </div>
                </div>
            </div>
            <div class="g-col-12 g-col-md-6 g-col-xl-4">
                <div class="d-flex h-100">
                    <div class="text-stckr me-4">
                        {% include "svg/nut.njk" %}
                    </div>
                    <div class="d-flex flex-column">
                        <p class="h5 fw-bold lh-base">Hexadecimal tools</p>
                        <p class="m-0">Work with hexadecimal data using tools for conversion, analysis, and manipulation.</p>
                    </div>
                </div>
            </div>
            <div class="g-col-12 g-col-md-6 g-col-xl-4">
                <div class="d-flex h-100">
                    <div class="text-stckr me-4">
                        {% include "svg/journal-code.njk" %}
                    </div>
                    <div class="d-flex flex-column">
                        <p class="h5 fw-bold lh-base">File tools</p>
                        <p class="m-0">Access utilities for inspecting, converting, and extracting information from different file types and formats.</p>
                    </div>
                </div>
            </div>
            <div class="g-col-12 g-col-md-6 g-col-xl-4">
                <div class="d-flex h-100">
                    <div class="text-stckr me-4">
                        {% include "svg/question-octagon.njk" %}
                    </div>
                    <div class="d-flex flex-column">
                        <p class="h5 fw-bold lh-base">ONI tools</p>
                        <p class="m-0">Specialized decoders and utilities inspired by ARGs, offering advanced features for data analysis and cryptography.</p>
                    </div>
                </div>
            </div>
            <div class="g-col-12 g-col-md-6 g-col-xl-4">
                <div class="d-flex h-100">
                    <div class="text-stckr me-4">
                        {% include "svg/braces-asterisk.njk" %}
                    </div>
                    <div class="d-flex flex-column">
                        <p class="h5 fw-bold lh-base">Miscellaneous tools</p>
                        <p class="m-0">A diverse set of unique tools designed to help with puzzle solving, creative challenges, and tasks that don’t fit elsewhere.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-5">
            {% set heroImage = projectId | assetImagePath('png', '', tags, 'lg') %}
            <img src="{{ heroImage | url }}" class="img-fluid rounded shadow-sm h-100"
                alt="{{ imageAlt or (title ~ ' screenshot') }}">
        </div>
        {% include "components/gallery.njk" %}
        <p>
            <a href="{{ '/projects' | url }}" class="btn btn-outline-stckr btn-sm">
                <i class="bi-arrow-left"></i> &nbsp;
                Back to all projects
            </a>
        </p>
    </div>
</section>