---
layout: base.njk
title: Projects
pageHeading: Projects
description: This page is a collection of projects I have been building and improving over time, from practical tools to creative experiments that reflect what I enjoy making and learning.
cssFile: home
pagination:
    data: collections.projects
    size: 3
    alias: pagedProjects
permalink: "{% if pagination.pageNumber == 0 %}/projects/{% else %}/projects/{{ pagination.pageNumber + 1 }}/{% endif %}"
---

<section class="projects card-container py-md-6 py-5" id="projects-list">
    <div class="container">
        <p class="mb-4">{{ description }}</p>
    </div>
    <div class="container">
    {% for project in pagedProjects %}
        {% set destination = project.url %}
        {% set imagePath = project.data.projectId | assetImagePath('png', '', project.data.tags, 'md') %}
        {% set imageOrderClass = '' if loop.index0 % 2 == 0 else 'order-lg-2' %}
        {% set textOrderClass = '' if loop.index0 % 2 == 0 else 'order-lg-1' %}
        {% include "components/project-item.njk" %}
    {% endfor %}
        <div class="mt-5">
            {% include "components/list-pagination.njk" %}
        </div>
    </div>
</section>

