---
layout: base.njk
title: Waypoint Light
pageHeading: Waypoint Light
cssFile: home
tags:
  - projects
section: themes
order: 2
projectId: waypoint-light
projectUrl: https://github.com/stickerboy/waypoint-light
imageAlt: Halo Waypoint light theme screenshot
description: Waypoint Light is a custom light theme built for the Halo Waypoint forums, designed to improve readability and create a cleaner, and more comfortable experience when browsing.
summary: A custom light theme for the Halo Waypoint forums.
---

<section class="project py-md-6 py-5">
    <div class="container">
        <div class="mb-5">
            <p class="lead fw-normal">{{ description }}</p>
            <p class="my-3">
                Developing this theme was a personal accessibility project for me. For years, I focused on creating dark themes for sites that didn’t offer them, but over time I noticed that reading and focusing on dark backgrounds was causing eye strain. I gradually switched to using light themes for most of my apps and websites. As someone who helped moderate the forums nearly every day, having a light theme made it much easier and more comfortable to browse and manage the site, which was a huge benefit for my daily workflow.
            </p>
            <div class="grid">
                <div class="g-col-12 g-col-sm-6 g-col-md-5 g-col-lg-4 g-col-xl-3">
                    <a href="{{ projectUrl }}" class="btn btn-halo w-100" title="Visit project website: {{ projectUrl }}">
                        <i class="bi-globe2"></i> &nbsp;
                        Visit project website
                    </a>
                </div>
            </div>
        </div>
        <div class="project-details grid g-4 g-md-5 mb-4">
            <div class="g-col-12 g-col-xl-6">
                <div class="d-flex h-100">
                    <div class="text-stckr me-4">
                        {% include "svg/universal-access.njk" %}
                    </div>
                    <div class="d-flex-flex-column">
                        <h2 class="h4 lh-base">Accessibility</h2>
                        <p class="m-0">I am passionate about accessible web design, always aiming to create interfaces that are both visually appealing and easy for everyone to use. When the Halo Waypoint forums lost their light theme after a migration to Discourse, I took the initiative to design a new, user-friendly theme. This work-in-progress showcases my approach to building a cleaner, more comfortable browsing experience within the constraints of Userstyles and the existing site theme.</p>
                    </div>
                </div>
            </div>
            <div class="g-col-12 g-col-xl-6">
                <div class="d-flex h-100">
                    <div class="text-stckr me-4">
                        {% include "svg/bookmark-star.njk" %}
                    </div>
                    <div class="d-flex-flex-column">
                        <h2 class="h4 lh-base">Additional features</h2>
                        <p class="m-0">Beyond restoring the light theme, I focused on improving grid layouts, increasing button sizes and tap targets, and refining focus and hover states for better accessibility. I also worked to re-surface and highlight supported features that the current theme had removed or hidden, making the forums more functional and inclusive for all users. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-5">
            {% set heroImage = projectId | assetImagePath('png', '', tags, 'lg') %}
            <img src="{{ heroImage | url }}" class="img-fluid rounded shadow-sm h-100"
                alt="{{ imageAlt or (title ~ ' screenshot') }}">
        </div>
        {% set images = [
            {
                src: 'waypoint-light/badges-sm.jpg' | assetImagePath('', 'projects'),
                link: 'waypoint-light/badges-lg.jpg' | assetImagePath('', 'projects'),
                alt: 'View badge display example',
                caption: 'Badge display'
            },
            {
                src: 'waypoint-light/forum-sm.jpg' | assetImagePath('', 'projects'),
                link: 'waypoint-light/forum-lg.jpg' | assetImagePath('', 'projects'),
                alt: 'View forum thread list example',
                caption: 'Forum thread list'
            },
            {
                src: 'waypoint-light/topic-sm.jpg' | assetImagePath('', 'projects'),
                link: 'waypoint-light/topic-lg.jpg' | assetImagePath('', 'projects'),
                alt: 'View topic view example',
                caption: 'Topic view'
            }
        ] %}
        {% include "components/gallery.njk" %}

        {% set showReturnButton = true %}
        {% set returnButton = "/projects" %}
        {% set returnButtonText = "Back to projects" %}
        {% set itemPaginationCollection = collections.projects %}
        {% set itemPaginationInputPath = page.inputPath %}
        {% include "components/item-pagination.njk" %}
    </div>
</section>