/*!
* CURIOUS?
*/
@import "default";

.masthead {
    background: url(map-get($backgrounds, "smirkle"))  map-get($background-pos, "smirkle");
}
.ascii {
    display: inline-block;
    white-space: pre;
    letter-spacing: 0;
    line-height: 1.4;
    font-family: 'Consolas','BitstreamVeraSansMono','CourierNew',Courier,monospace;
    font-size: 12px;
}