/*!
* CURIOUS?
*/
@import "backgrounds";

.masthead {
    background: url(map-get($backgrounds, "wc19WayV3Y"))  map-get($background-pos, "wc19WayV3Y");
}
#curiousgrid button {
    min-width: 2.5rem;
    font-weight: 600;
}