/*!
* CURIOUS?
*/
@use "sass:map";
@import "backgrounds";

.masthead {
    background: url(map.get($backgrounds, "wc19WayV3Y")) no-repeat left 50% bottom 42%;
}
#curiousgrid button {
    min-width: 2.5rem;
    font-weight: 600;
}