$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer + 3rem,
  7: $spacer + 4rem,
  8: $spacer + 5rem,
  9: $spacer + 6rem,
  10: $spacer + 7rem,
  11: $spacer + 8rem,
  12: $spacer + 9rem,
  13: $spacer + 10rem,
  14: $spacer + 11rem,
);

// Custom colors
$custom-colors: (
  "stckr": #0aa2c0,
  "343": #343a40,
  "ice": #1c375e
);
$theme-colors: map-merge($theme-colors, $custom-colors);

$color-stckr: map-get($theme-colors, "stckr");
$color-343: map-get($theme-colors, "343");
$color-ice: map-get($theme-colors, "ice");

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
  7: 2rem,
  8: 1.5rem
);