<div class="g-col-12 g-col-lg-5 g-col-xl-4 {{ imageOrderClass }} projects-img img-thumbnail"
        style="background-image: url('{{ imagePath | assetImagePath('', '', project.tags) | url }}')">
</div>
<div class="g-col-12 g-col-lg-7 g-col-xl-8 {{ textOrderClass }}">
    <div class="align-content-center text-start project-text p-4 p-md-5 d-flex flex-column h-100">
        <{% if homepage %}h3{% else %}h2{% endif %} class="card-title">
            {{ project.title }}
        </{% if homepage %}h3{% else %}h2{% endif %}>
        {%- if project.description %}
        <p class="card-text">
            {{ project.description }}
        </p>
        {%- endif %}
        <a href="{{ destination }}" class="btn btn-outline-halo btn-sm me-auto mt-auto"
           arial-label="Read more about {{ project.title }}"
        >
            <i class="bi-laptop"></i> &nbsp;
            View project
        </a>
    </div>
</div>