{# <div class="row g-0{% if not loop.last %} pb-3{% endif %}"> #}
    <div class="g-col-12 g-col-lg-5 g-col-xl-4 {{ imageOrderClass }} projects-img"
            style="background-image: url('{{ imagePath | assetImagePath('', '', project.tags) | url }}')">
        {# <img src="{{ imagePath | url }}" class="card-img h-100" alt="{{ project.imageAlt or (project.title ~ ' screenshot') }}"> #}
    </div>
    <div class="g-col-12 g-col-lg-7 g-col-xl-8 {{ textOrderClass }}">
        <div class="align-content-center project-text p-4 p-md-5 d-flex flex-column h-100">
            <h2 class="card-title">{{ project.title }}</h2>
            {%- if project.summary %}
            <p class="card-text">{{ project.description }}</p>
            {%- endif %}
            <a href="{{ destination }}" class="btn btn-outline-halo btn-sm me-auto mt-auto">
                <i class="bi-laptop"></i> &nbsp;
                View project
            </a>
        </div>
    </div>
{# </div> #}