---
layout: base.njk
title: Photography
pageHeading: Photography
cssFile: home
pagination:
    data: photos
    size: 12
    alias: pagedPhotos
permalink: "{% if pagination.pageNumber == 0 %}/photography/{% else %}/photography/{{ pagination.pageNumber + 1 }}/{% endif %}"
---

<section class="flickr card-container bg-light py-md-6 py-5" id="photography-list">
    <div class="container">
        <p class="mb-4">A curated set of photographs and visual work.</p>

        <div class="grid g-4">
            {% for photo in pagedPhotos %}
                {% set photoUrl = '/photography/' + photo.slug + '/' %}
                {% set imagePathFull = photo.photoId | assetImagePath('jpg', 'photography') %}
                {% set showCaption = true %}
                {% include "components/photography/item.njk" %}
            {% endfor %}
        </div>
        <div class="mt-5">
            {% include "components/pagination/list.njk" %}
        </div>
    </div>
</section>
