---
layout: base.njk
title: Kenny Cameron - Digital Developer
pageHeading: Kenny
cssFile: home
homepage: yes
---
        {% include "content/social.njk" %}

        <!-- Showcases-->
        <section class="showcase" id="showcase">
            <div class="container-fluid p-0">
                {% for item in collections.featuredShowcases %}
                {% set imageOrderClass = 'order-lg-2' if loop.index0 % 2 == 0 else '' %}
                {% set textOrderClass = 'order-lg-1' if loop.index0 % 2 == 0 else '' %}
                {% set imageId = 'showcase-' ~ loop.index %}
                <div class="row g-0">
                    <div class="col-lg-6 {{ imageOrderClass }} text-white showcase-img"
                         style="background-image: url('{{ (item.data.image or ('/assets/img/showcase/' ~ item.data.page.fileSlug ~ '.jpg')) | url }}')"
                         aria-describedby="{{ imageId }}"></div>
                    <p class="visually-hidden" id="{{ imageId }}">{{ item.data.imageAlt or item.data.title }}</p>
                    <div class="col-lg-6 {{ textOrderClass }} my-auto showcase-text p-5 p-md-9">
                        <h2>{{ item.data.pageHeading or item.data.title }}</h2>
                        <p class="fs-6 mt-3">{{ item.data.summary }}</p>
                        {% if item.data.homeSecondary %}
                        <p class="fs-6 mt-1">{{ item.data.homeSecondary }}</p>
                        {% endif %}
                        <p class="fs-6 mb-0 mt-1"><a href="{{ item.url }}" class="btn btn-light">Read more</a></p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

        <!-- Flickr-->
        <section class="flickr card-container text-center bg-light py-md-6 py-5" id="photography">
            <div class="container">
                <h2 class="mb-5">Photography on Flickr</h2>
                <p>In my spare time I spend a lot of it taking photographs, capturing little moments in life. I share some of my best on Flickr.</p>
                <p>All photography used on this site was taken by me.</p>
                <div class="row g-4 mb-3">
                    {% for photo in collections.featuredPhotographs %}
                    {% set destination = photo.url %}
                    {% set imagePath = photo.data.image or ('/assets/img/photography/' ~ photo.data.photoId ~ '.jpg') %}
                    <div class="col-sm-4">
                        <div class="card">
                            <a href="{{ destination }}" title="{{ photo.data.pageHeading or photo.data.title }} - photo by Kenny Cameron" class="flickr-item">
                                    <img src="{{ imagePath | url }}" class="card-img" alt="{{ photo.data.imageAlt or photo.data.title }}">
                                    <div class="card-caption d-flex w-100 h-100 align-items-center justify-content-center">
                                            <p class="h3 text-white">{{ photo.data.pageHeading or photo.data.title }}</p>
                                    </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a class="btn btn-stckr btn-lg" href="{{ '/photography' | url}}">View more photos</a>
            </div>
        </section>

        <!-- Projects -->
        <section class="projects card-container text-center py-md-6 py-5" id="projects">
            <div class="container">
                <h2 class="mb-5">Web projects</h2>
                <p>Some of the personal projects I have worked on.</p>
                <div class="row g-4 justify-content-center">
                    {% for project in collections.featuredProjects %}
                    {% set destination = project.url %}
                    {% set imagePath = project.data.image or ('/assets/img/projects/' ~ project.data.projectId ~ '.png') %}
                    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
                        <a href="{{ destination }}" class="card h-100">
                            <h5 class="card-header link-stckr">{{ project.data.pageHeading or project.data.title }}</h5>
                            <img src="{{ imagePath | url }}" class="card-img rounded-0" alt="{{ project.data.imageAlt or (project.data.title ~ ' screenshot') }}">
                            <div class="card-body">
                                <p class="card-text text-start">
                                    {{ project.data.summary }}
                                </p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <!-- Call to Action-->
        <section class="call-to-action text-white text-center py-md-9 py-7" id="contact">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <h2 class="mb-4"> Ask me for my CV / Resume!</h2>
                        <div class="col">
                            <a href="#" class="btn btn-light btn-lg" id="resume">
                                Send an email
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
