---
layout: base.njk
title: Kenny Cameron - Digital Developer
pageHeading: Kenny
homepage: true
---

<!-- Social -->
{% set socialAttr = "featured" %}
{% include "components/social/list.njk" %}

<!-- Showcases-->
{%- set featuredShowcases = showcases | selectattr('featured', 'equalto', true) | sort(attribute='order') %}
{%- set items = featuredShowcases %}
<section class="showcase" id="about">
    {% include "components/showcase/list.njk" %}
</section>

<!-- Photography -->
{%- set sectionTitle = "Photography on Flickr" %}
{%- set sectionDesc = [
    "In my spare time I spend a lot of it taking photographs, capturing little moments in life. I share some of my best
on Flickr.",
    "All photography used on this site was taken by me."
] %}
{%- set featuredPhotos = photos | selectattr('featured', 'equalto', true) %}
{%- set showCaption = false %}
{%- set photos = featuredPhotos %}
<section class="flickr card-container text-center bg-light py-md-5 py-4" id="photography">
    {% include "components/photography/list.njk" %}
    <div class="mt-5">
        <a class="btn btn-halo" href="{{ '/photography' | url}}">
            <span class="h4 m-0">
                View more photos
            </span>
        </a>
    </div>
</section>

<!-- Projects -->
{%- set sectionTitle = "Web projects" %}
{%- set sectionDesc = "A selection of highlighted personal projects, each chosen to showcase my skills, creativity, and interests in web development." %}
{%- set featuredProjects = projects | selectattr('featured', 'equalto', true) | sort(attribute='order') %}
{% set projects = featuredProjects %}
<section class="projects text-center py-md-5 py-4" id="projects">
    {% include "components/projects/list.njk" %}
    <div class="mt-5">
        <a class="btn btn-halo" href="{{ '/projects' | url}}">
            <span class="h4 m-0">
                View all projects
            </span>
        </a>
    </div>
</section>

<!-- Contact -->
{% include "components/contact/item.njk" %}
