<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "layout/route.njk" %}
        {% include "layout/meta.njk" %}

        {% include "layout/if.njk" %}
        {% include "layout/css.njk" %}
    </head>
    {% if homepage %}
    <body data-bs-spy="scroll" data-bs-target="#navbarNav" data-bs-smooth-scroll="true" class="homepage">
        <a class="visually-hidden-focusable position-absolute" href="#content">Skip to main content</a>
        {% include "layout/nav.njk" %}
        <main id="content">
    {% else %}
    <body>
        <a class="visually-hidden-focusable position-absolute" href="#content">Skip to main content</a>
        {% include "layout/nav-simple.njk" %}
        <main id="content">
    {% endif %}

            {% include "layout/masthead.njk" %}

            {{ content | safe }}

            {% include "layout/footer.njk" %}

            {% include "layout/scripts.njk" %}
        </main>
    </body>
</html>
