<!DOCTYPE html>
<html lang="en">
    <head>
        <!--
            //START FILE/
            /Route detected..
            /Processing......
            {% if route == "noroute" %}/Route access denied - the easter egg is in another castle
            /Be a little more... curious{% else %}/Route found - /{{ route }}{% endif %}
            /END FILE ../
        -->
        {% include "meta" %}
    </head>
    <body>
    </body>
</html>
