<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="I'm a web-designing code-decrypting tech-support musician" />
        <meta name="author" content="@stickerboy" />
        <title>{{ title }}</title>