<!-- Navigation-->
        <nav class="navbar navbar-expand-lg sticky-top bg-light border-bottom border-stckr border-5">
          <div class="container-fluid">
            <p class="navbar-brand mb-0"><a href="../" class="link-stckr">kenny.cx</a></p>
          </div>
        </nav>