---
layout: base.njk
title: Photography
pageHeading: Photography
cssFile: home
---

<section class="flickr card-container bg-light py-md-6 py-5" id="photography-list">
    <div class="container">
        <p class="mb-4">A curated set of photographs and visual work.</p>

        <div class="row g-4">
            {% for photo in collections.photographs %}
            {% set destination = photo.url %}
            {% set imagePath = '/assets/img/photography/' ~ photo.data.photoId ~ '.jpg' %}
            <div class="col-12 col-md-6 col-lg-4">
                <article class="card h-100">
                    <a href="{{ destination }}" class="flickr-item">
                        <img src="{{ imagePath | url }}" class="card-img-top" alt="{{ photo.data.imageAlt or photo.data.title }}">
                        <div class="card-caption d-flex w-100 h-100 align-items-center justify-content-center">
                            <p class="h3 text-white">{{ photo.data.pageHeading or photo.data.title }}</p>
                        </div>
                        <div class="card-caption d-flex w-100 h-100 align-items-center justify-content-center">
                            <p class="h3 text-white">{{ photo.data.pageHeading }}</p>
                        </div>
                    </a>
                    <div class="card-body">
                        <p class="card-text text-start">{{ photo.data.summary }}</p>
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
