---
layout: base.njk
title: Tranquility - Kenny Cameron
pageHeading: Tranquility
cssFile: home
tags:
  - photographs
featured: true
photoId: tranquility
photoUrl: https://www.flickr.com/photos/stickerboy/36736682740/in/album-72157661169954813/
image: flickr-1.jpg
imageAlt: Long exposure photo taken in the Portland Japanese Gardens. A view of the pond, waterfall and trees behind it.
summary: A long-exposure landscape shot from Portland Japanese Gardens.
---

<section class="py-md-6 py-5">
    <div class="container">
        <p>Part of a series focused on calm, atmospheric scenes from gardens and parks.</p>
        <p><a href="/photography/">Back to all photography</a></p>
    </div>
</section>
