        <!-- Icons Grid-->
        <section class="features-icons bg-light text-center py-md-5 py-4" id="social">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="features-icons-item px-3 mx-auto mb-0 mb-lg-0 mb-lg-3">
                            <a href="https://instagram.com/stckrboy" class="features-icons-icon d-flex" title="Link to Kenny's profile on Instagram - stckrboy">
                                <i class="bi-instagram m-auto text-body"></i>
                            </a>
                            <p>@stckrboy</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="features-icons-item px-3 mx-auto mb-0 mb-lg-0 mb-lg-3">
                            <a href="https://open.spotify.com/user/frv4z7134a70e194ff72bqbcj" class="features-icons-icon d-flex" title="Link to Kenny's profile on Spotify - stickerboy">
                                <i class="bi-spotify m-auto text-body"></i>
                            </a>
                            <p>@stickerboy</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="features-icons-item px-3 mx-auto mb-0 mb-lg-0 mb-lg-3">
                            <a href="https://github.com/stickerboy" class="features-icons-icon d-flex" title="Link to Kenny's profile on Github - stckrboy">
                                <i class="bi bi-github m-auto text-body"></i>
                            </a>
                            <p>@stickerboy</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="features-icons-item px-3 mx-auto mb-0 mb-lg-0 mb-lg-3">
                            <a href="https://account.xbox.com/en-us/Profile?gamerTag=stckrboy" class="features-icons-icon d-flex" title="Link to Kenny's profile on Xbox Live - stckrboy">
                                <i class="bi bi-xbox m-auto text-body"></i>
                            </a>
                            <p>@stckrboy</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="features-icons-item px-3 mx-auto mb-0 mb-lg-3">
                            <a href="https://www.linkedin.com/in/stickerboy/" class="features-icons-icon d-flex" title="Link to Kenny's profile on LinkedIn - stickerboy">
                                <i class="bi-linkedin m-auto text-body"></i>
                            </a>
                            <p>@stickerboy</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>