/*!
* CURIOUS?
*/.masthead{background:url("../img/bg-masthead-smirkle.jpg") "../img/bg-masthead-smirkle.jpg"}.ascii{display:inline-block;white-space:pre;letter-spacing:0;line-height:1.4;font-family:"Consolas","BitstreamVeraSansMono","CourierNew",Courier,monospace;font-size:12px}
