<nav class="pagination-nav" aria-label="Next and previous items">
  <ul class="pagination pagination-sm pagination-stacked justify-content-between m-0">
    {% if pagination.href.first and pagination.pageNumber > 0 %}
    <li class="page-item">
      <div class="btn-group d-flex flex-row" role="group">
          {% if showEarliestLatest %}
          <a class="btn btn-outline-halo border-light-subtle py-2 px-3 rounded{% if pagination.href.previous %}-sm-start{% endif %} fw-normal" href="{{ pagination.href.first }}" title="Latest item">
            &laquo; <span class="d-none d-sm-inline-flex">Latest</span>
          </a>
          {% endif %}
        {% endif %}
        {% if pagination.href.previous %}
          <a class="btn btn-outline-halo border-light-subtle py-2 px-3 rounded{% if showEarliestLatest %}-end rounded-start-0{% endif %} fw-normal" href="{{ pagination.href.previous }}" title="Previous item: {{ pagination.page.previous.title or pagination.page.previous.pageHeading }}">
            &#8678; <span class="visually-hidden">Previous:&nbsp;</span> {{ pagination.page.previous.title or pagination.page.previous.pageHeading }}
          </a>
      </div>
    </li>
    {% endif %}
    {% if showReturnButton %}
    <li class="page-item">
      <div class="btn-group d-flex flex-row" role="group">
        <a href="{{ returnButton | url }}" class="btn btn-outline-halo btn-sm">
          <i class="bi-arrow-left"></i> &nbsp;
          {{ returnButtonText }}
        </a>
      </div>
    </li>
    {% endif %}
    {% if pagination.href.next %}
    <li class="page-item">
      <div class="btn-group d-flex flex-row" role="group">
          <a class="btn btn-outline-halo border-light-subtle py-2 px-3 rounded{% if showEarliestLatest %}-start rounded-end-0{% endif %} fw-normal" href="{{ pagination.href.next }}" title="Next item: {{ pagination.page.next.title or pagination.page.next.pageHeading }}">
            <span class="visually-hidden">Next:&nbsp;</span> {{ pagination.page.next.title or pagination.page.next.pageHeading }} &#8680;
          </a>
        {% endif %}
        {% if pagination.href.last and pagination.pageNumber < pagination.pages.length - 1 %}
          {% if showEarliestLatest %}
          <a class="btn btn-outline-halo border-light-subtle py-2 px-3 rounded{% if pagination.href.next %}-sm-end{% endif %} fw-normal" href="{{ pagination.href.last }}" title="Earliest item">
            <span class="d-none d-sm-inline-flex">Earliest</span> &raquo;
          </a>
          {% endif %}
      </div>
    </li>
    {% endif %}
  </ul>
</nav>