{% set swapOrder = loopIndex0 % 2 != 0 %}
{% if swapOrder %}
  {% set textOrderClass = 'order-lg-2' %}
  {% set imageOrderClass = 'order-lg-1' %}
{% else %}
  {% set textOrderClass = 'order-lg-1' %}
  {% set imageOrderClass = 'order-lg-2' %}
{% endif %}
{% set imageId = 'showcase-' ~ (loopIndex or 0) %}
{% set imagePath = showcaseItem.data.image or (showcaseItem.data.page.fileSlug ~ '.jpg') %}
{% set imagePathFull = imagePath | assetImagePath('', '', showcaseItem.data.tags) %}

<div class="row g-0">
  <div class="col-lg-6 {{ textOrderClass }} my-auto showcase-text p-5 p-md-6 p-lg-7 p-xl-9">
    <h2>{{ showcaseItem.data.pageHeading or showcaseItem.data.title }}</h2>
    <p class="fs-6 mt-3">{{ showcaseItem.data.summary }}</p>
    {% if showcaseItem.data.homeSecondary %}
    <p class="fs-6 mt-1">{{ showcaseItem.data.homeSecondary }}</p>
    {% endif %}
    <p class="fs-6 mb-0 mt-1"><a href="{{ showcaseItem.url }}" class="btn btn-light">Read more</a></p>
  </div>
  <div class="col-lg-6 {{ imageOrderClass }} text-white showcase-img"
    style="background-image: url('{{ imagePathFull | url }}')"
    aria-describedby="{{ imageId }}"></div>
  <p class="visually-hidden" id="{{ imageId }}">{{ showcaseItem.data.imageAlt or showcaseItem.data.title }}</p>
</div>
