<!-- Masthead-->
        {%- if homepage %}
        <header class="masthead py-6 py-sm-8 py-md-12">
        {%- else %}
        <header class="masthead py-5 pb-3">
        {%- endif %}
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">{{ pageHeading }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>