<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ '/assets/js/scripts.js' | url }}"></script>
{%- if scriptFile %}
<script src="{{ ('/assets/js/' ~ scriptFile ~ '.js') | url }}"></script>
{% endif %}