<div class="container-fluid p-0">
  {% for showcaseItem in items %}
    {% set loopIndex = loop.index %}
    {% set loopIndex0 = loop.index0 %}
    {% include "components/showcase/item.njk" %}
  {% endfor %}
</div>
