<!-- Call to Action-->
<section class="call-to-action text-white text-center py-md-9 py-7" id="contact">
    <div class="container position-relative">
        <div class="grid text-center">
            <div class="g-col-10 g-start-2 g-col-md-8 g-start-md-3">
                <h2 class="mb-4"> Ask me for my CV / Resume!</h2>
                <div class="col">
                    <a href="#" class="btn btn-light" id="resume">
                        <i class="bi-envelope-at"></i> &nbsp;
                        Send an email
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>