<!-- Call to Action-->
<section class="call-to-action text-white text-center py-md-9 py-7" id="contact">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <h2 class="mb-4"> Ask me for my CV / Resume!</h2>
                <div class="col">
                    <a href="#" class="btn btn-light" id="resume">
                        Send an email
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>