<!-- Flickr-->
<section class="flickr card-container text-center bg-light py-md-6 py-5" id="photography">
    <div class="container">
        <h2 class="mb-5">Photography on Flickr</h2>
        <p>In my spare time I spend a lot of it taking photographs, capturing little moments in life. I share some of my
            best on Flickr.</p>
        <p>All photography used on this site was taken by me.</p>
        <div class="row g-4 mb-3">
            {% for photo in photos %}
                {% if photo.featured %}
                    {% set photoUrl = '/photography/' + photo.slug + '/' %}
                    {% set imagePathFull = photo.photoId | assetImagePath('jpg', 'photography') %}
                    {% set showCaption = false %}
                    {% include "components/photograph-item.njk" %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="mt-5">
            <a class="btn btn-stckr" href="{{ '/photography' | url}}">View more photos</a>
        </div>
    </div>
</section>