<!-- Projects -->
<section class="projects text-center py-md-5 py-4" id="projects">
    <div class="container text-center">
        <h2 class="mb-5">Web projects</h2>
        <p class="pb-md-5 pb-4">A selection of highlighted personal projects, each chosen to showcase my skills, creativity, and interests in web development.</p>
    </div>
    <div class="container-fluid p-0">
        {%- set featuredProjects = projects | selectattr('featured', 'equalto', true) | sort(attribute='order') %}
        {%- for project in featuredProjects %}
            {%- if loop.index0 % 2 == 0 %}
            <div class="grid g-0 gap-0 mb-4">
            {%- endif %}

            {%- set destination = '/projects/' + project.slug + '/' %}
            {%- set projectId = project.projectId %}
            {%- set imagePath = projectId | assetImagePath('png', '', project.tags, 'sm') %}
            {%- set imageId = 'project-' ~ loop.index %}
            {% include "components/projects/project-item.njk" %}

            {%- if loop.index0 % 2 == 1 or loop.last %}
            </div>
            {%- endif %}
        {%- endfor %}
    </div>
    <div class="mt-5">
        <a class="btn btn-halo" href="{{ '/projects' | url}}">
            <span class="h4 m-0">
                View all projects
            </span>
        </a>
    </div>
</section>