<!-- Projects -->
<section class="projects text-center py-md-5 py-4" id="projects">
    <div class="container text-center">
        <h2 class="mb-5">Web projects</h2>
        <p class="pb-md-5 pb-4">A selection of highlighted personal projects, each chosen to showcase my skills, creativity, and interests in web development.</p>
    </div>
        <div class="container-fluid p-0">
            {%- set featuredProjects = projects | selectattr('featured', 'equalto', true) | sort(attribute='order') %}
            {%- for project in featuredProjects %}
                {%- if loop.index0 % 2 == 0 %}
                <div class="grid g-0 gap-0 mb-4">
                {%- endif %}

                {%- set destination = project.projectUrl or ('/projects/' + project.slug + '/') %}
                {%- set projectId = project.projectId %}
                {%- set imagePath = projectId | assetImagePath('png', '', project.tags, 'sm') %}
                {%- set imageId = 'project-' ~ loop.index %}

                    <div class="g-col-12 g-col-md-6 g-col-lg-3 {% if loop.index0 % 2 == 1 %} order-md-2{% endif %} bg-light align-content-center project-text p-4 p-md-5">
                        <h3>{{ project.title }}</h3>
                        <p class="fs-6 mt-3">{{ project.summary }}</p>
                        <p class="fs-6 mb-0 mt-1">
                            <a href="{{ destination }}" class="btn btn-outline-halo btn-sm"
                               arial-label="Read more about {{ project.title }}">
                                Read more
                            </a>
                        </p>
                    </div>
                    <div class="g-col-12 g-col-md-6 g-col-lg-3 {% if loop.index0 % 2 == 1 %} order-lg-2{% endif %} projects-img"
                        style="background-image: url('{{ imagePath | url }}')"
                        aria-describedby="{{ imageId }}"></div>
                    <p class="visually-hidden" id="{{ imageId }}">{{ project.imageAlt or project.title }}</p>

                {%- if loop.index0 % 2 == 1 or loop.last %}
                </div>
                {%- endif %}
            {%- endfor %}
        </div>
        <div class="mt-5">
            <a class="btn btn-halo" href="{{ '/projects' | url}}">
                <span class="h4 m-0">
                    View all projects
                </span>
            </a>
        </div>
    </div>
</section>