<!-- Showcases-->
<section class="showcase" id="about">
    <div class="container-fluid p-0">
        {% for item in collections.featuredShowcases %}
                {% set swapOrder = loop.index0 % 2 != 0 %}
                {% if swapOrder %}
                    {% set textOrderClass = 'order-lg-2' %}
                    {% set imageOrderClass = 'order-lg-1' %}
                {% else %}
                    {% set textOrderClass = 'order-lg-1' %}
                    {% set imageOrderClass = 'order-lg-2' %}
                {% endif %}
        {% set imageId = 'showcase-' ~ loop.index %}
        {% set imagePath = item.data.image or (item.data.page.fileSlug ~ '.jpg') %}
        {% set imagePathFull = imagePath | assetImagePath('', '', item.data.tags) %}
        <div class="grid g-0" style="--bs-gap:0;">
            <div class="g-col-12 g-col-lg-6 {{ textOrderClass }} my-auto showcase-text p-5 p-lg-7 p-xl-9">
                <h2>{{ item.data.pageHeading or item.data.title }}</h2>
                <p class="fs-6 mt-3">{{ item.data.summary }}</p>
                {% if item.data.homeSecondary %}
                <p class="fs-6 mt-1">{{ item.data.homeSecondary }}</p>
                {% endif %}
                <p class="fs-6 mb-0 mt-1"><a href="{{ item.url }}" class="btn btn-light">Read more</a></p>
            </div>
            <div class="g-col-12 g-col-lg-6 order-1 {{ imageOrderClass }} text-white showcase-img"
                style="background-image: url('{{ imagePathFull | url }}')"
                aria-describedby="{{ imageId }}"></div>
            <p class="visually-hidden" id="{{ imageId }}">{{ item.data.imageAlt or item.data.title }}</p>
        </div>
        {% endfor %}
    </div>
</section>