<!-- Showcases-->
<section class="showcase" id="about">
    <div class="container-fluid p-0">
        {%- for item in collections.featuredShowcases %}
          {%- set showcaseItem = item %}
          {%- set loopIndex = loop.index %}
          {%- set loopIndex0 = loop.index0 %}
          {%- include "components/showcase/item.njk" %}
        {%- endfor %}
    </div>
</section>