        <!-- Social icons -->
        <section class="features-icons bg-light text-center py-md-5 py-4" id="social">
            <div class="container">
                <div class="row">
                    {%- for item in social %}
                    {%- if item.enabled %}
                    <div class="col position-relative">
                        <div class="features-icons-item px-3 mx-auto mb-0 mb-lg-0 mb-lg-3">
                            <a href="{{ item.url }}" class="features-icons-icon d-flex stretched-link" title="{{ item.title }} - @{{ item.handle }}">
                                <i class="{{ item.icon }} m-auto text-body"></i>
                            </a>
                            <p>@{{ item.handle }}</p>
                        </div>
                    </div>
                    {%- endif %}
                    {%- endfor %}
                </div>
            </div>
        </section>