        <!-- Social icons -->
        <section class="features-icons bg-light text-center py-md-5 py-4" id="social">
            <div class="container">
                <div class="grid">
                    {%- for item in social %}
                    {%- if item.enabled %}
                    <div class="features-icon-item p-3 p-3 rounded g-col-6 g-col-sm-4 g-col-lg-2 position-relative">
                        <a href="{{ item.url }}" class="features-icons-icon d-flex stretched-link" title="{{ item.title }} - @{{ item.handle }}">
                            <i class="{{ item.icon }} m-auto text-body"></i>
                        </a>
                        <p class="mb-0">@{{ item.handle }}</p>
                    </div>
                    {%- endif %}
                    {%- endfor %}
                </div>
            </div>
        </section>