---
title: Kenny Cameron - Digital Developer
---

<!DOCTYPE html>
<html lang="en" class="bg-white text-black">

  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/styles/index.css">
  </head>

  <body>
    <div class="container mx-auto flex flex-col justify-center items-center">
      <h1 class="text-3xl font-bold mt-12 mb-6">Kenny</h1>
        <p class="text-lg mb-4">Digital Developer</p>
    </div>
  </body>

</html>