---
layout: base.njk
pagination:
  data: showcases
  size: 3
  alias: pagedShowcases
  reverse: false
title: About
pageHeading: About
cssFile: home
permalink: "{% if pagination.pageNumber == 0 %}/about/{% else %}/about/{{ pagination.pageNumber + 1 }}/{% endif %}"
---

<section class="showcase" id="showcase-list">
    {% set items = pagedShowcases %}
    {% include "components/showcase-list.njk" %}

    {% if pagination.pages.length > 1 %}
    <div class="p-5 p-md-6 p-lg-7 p-xl-9 pt-0 pt-sm-0 pt-md-0 py-lg-5 py-xl-5">
        {% set pageNext = "Next" %}
        {% set pagePrev = "Previous" %}
        {%- include "components/pagination/list.njk" %}
    </div>
    {% endif %}
</section>
