---
layout: base.njk
pagination:
  data: collections.showcases
  size: 3
  alias: showcases
  reverse: false
title: About
pageHeading: About
cssFile: home
permalink: "{% if pagination.pageNumber == 0 %}/about/{% else %}/about/{{ pagination.pageNumber + 1 }}/{% endif %}"
---

<section class="showcase" id="showcase-list">
    <div class="container-fluid p-0">
        {% for item in showcases %}
            {% set showcaseItem = item %}
            {% set loopIndex = loop.index %}
            {% set loopIndex0 = loop.index0 %}
            {% include "components/showcase-item.njk" %}
        {% endfor %}

        {% if pagination.pages.length > 1 %}
        <div class="p-5 p-md-6 p-lg-7 p-xl-9 pt-0 pt-sm-0 pt-md-0 py-lg-5 py-xl-5">
             {% set pageNext = "Next" %}
             {% set pagePrev = "Previous" %}
            {%- include "components/list-pagination.njk" %}
        </div>
        {% endif %}
    </div>
</section>
